.Navigation-b{
	width:100%;
	height: 141px;
	overflow: hidden;
    background:url(../images/banner-1.png)no-repeat center;
    background-size:100%;  
}
.Nav-b-l{
	width:46%;
	float: left;
	height: 80px; 
	margin-top:31px; 
}
.Head-portrait{
  width: 17.2%;
  height:80px;
 float: left; 
}
.head-p-r{
	width:81%;
	float: left; 
	height:80px;  
}
.head-p-r-t,.head-p-r-b{
	width:92%;
	font-size:12px;
	color:#757575; 
	margin-left:10%;   
	overflow: hidden;
}
.head-p-r-t>a{
	color:#757575; 
}
.head-p-und{
	border-top:1px solid #bcbfc1;
	margin-top:11px;  
	margin-bottom:10px; 
}
.Nav-b-r{
	width: 241px;
	height:69px;
	float: right; 
	margin-right:123px;
	margin-top:36px;  
}
.balance{
 font-size:12px;
 color:#878788; 
}
.balance>span{
	font-size: 20px;
	color:#f8993d;
	margin-left:23px; 
}
.balance-btn{
	width: 100%;
	margin-top:23px; 
}
.balance-btn a{
	    width: 65px;
    height: 30px;
    float: left;
    color: #fff;
    line-height: 30px;
    border-radius: 8px;
    background-color: #f8993d;
    text-align: center;
    margin-right: 15px;
}

.transaction{
   width: 100%;
   overflow: hidden;
   position: relative; 
   margin-top:29px; 
}
.tran-tle{
	width:100%;
	height:40px;
	position: relative;  
}
.tran-item{
	width: 98px;
	border:1px solid #e7e7e7;
	height:38px;float: left; 
	color:#9b9a9a;
	text-align: center;
	line-height:38px; 
	background-color:#f4f3f3; 
}
.tran-txt{
	width: 100%;
	height:539px; 
	border-top:1px solid rgb(0, 139, 185); 
}
.tran-txt>li{
	width: 100%;
	height:139px; 
	display: none;
}
.tran-txt>li:nth-child(1){
	display: block;
}
.active-1{
	background-color:rgb(0, 139, 185);
	color:#fff;
	border-bottom:1px solid rgb(0, 139, 185);  
}
.tran-txb{
	width: 100%;
	position: relative;
	height:40px; 
}
.tran-txt>li>.tran-txb:nth-child(2n-1){
	background-color:#f8f8f8; 
}
.tran-txb>span{
	float: left;
	height:38px;
	border:1px solid #e7e7e7;color:#9b9a9a;text-align: center;
	line-height:38px;  
}
.tran-txb>span:nth-child(1){
	width: 98px;
}
.tran-txb>span:nth-child(2){
	width:298px;
}
.tran-txb>span:nth-child(3){
	width:198px; 
}
.tran-txb>span:nth-child(4){
	width:198px;
}
.tran-txb>span:nth-child(5){
	width:198px;
}
.transaction-pic{
	width:100%;
	height:277px;  
}

@media screen and (max-width: 1366px) {
    .Navigation-b{
	width:100%;
	height: 103px;
	overflow: hidden;
    background:url(../images/banner-1.png)no-repeat center;
    background-size:100%;  
}
.Nav-b-l {
    width: 46%;
    float: left;
    height: 80px;
    margin-top: 13px;
}
.Nav-b-r {
    width: 241px;
    height: 69px;
    float: right;
    margin-right: 123px;
    margin-top: 7px;
}
}